# Validated under Py3.6 2022-05-02 in prep for v0.6.0 release

# for running
biopython==1.79
Cython==0.29.28
matplotlib==3.3.4
numpy==1.21.0
pandas==1.1.5
pysam==0.19.0
scipy==1.5.4
termcolor==1.1.0
twobitreader==3.1.7

# for tests
-rrequirements-test.txt
