biopython==1.73
Cython==0.29.7
matplotlib==2.2.4
mock==3.0.4
numpy==1.13.3
numpydoc==0.9.1
pysam==0.15.2
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-argdoc==0.1.3
sphinxcontrib-bibtex==0.4.2
termcolor==1.1.0

